.box {
    position: relative;
    width: 250px;
    height: 250px;
    margin: 250px auto ;
    transform-style: preserve-3d ;
    animation-name: test ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;
}
.front {
    position: absolute;
    width: 100%;
    height: 100%;
    background: red;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateZ(150px);
}
.moveFront{
    animation-name: testZ ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;

}
.moveFront::before  {
    position: absolute;
    content: "Front";
    color:white;
    top: 0;
    left: 45%;
    backface-visibility: hidden;
}
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    background: blue;
    margin: auto ;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateZ(-150px);
}
.moveBack {
    animation-name: testZ1 ;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-delay: 0s;

}
.back::before{
    position: absolute;
    content: "Back";
    color: white;
    top: 0;
    left: 45%;
    transform: rotateY(180deg);
}
@keyframes test {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
@keyframes testZ {
    0% {
        transform: rotateZ(0deg) translateZ(-25px);
    }
    100% {
        transform: rotateZ(360deg) translateZ(-25px);
    }
}
@keyframes testZ1 {
    0% {
        transform: rotateZ(360deg) translateZ(25px);
    }
    100% {
        transform: rotateZ(0deg) translateZ(25px);
    }
}